body {
    background-color: rgb(239, 101, 175); /* cor de fundo da página */
    color: cyan; /*cor da escrita */
} 

header {
    border: solid 2px cyan;
    font-size: 32px;
    padding: 10px;
    color: beige;
}

h1{
    font-size: 30px; /* tamanho da fonte*/
    text-align: center; /* centralizado */
    text-transform: uppercase; /* letras maiusculas */
}

p {
font-size: 16px;
color: blueviolet;
}