body {
    background-color: rgb(224, 101, 175); /* cor de fundo da página */
    color: cyan; /*cor da escrita */
    font-family: "Bitcount Prop Single Ink";
} 

header {
    border: solid 2px cyan;
    font-size: 32px;
    padding: 10px;
    color: rgb(226, 226, 47);
}

section{
    background-color: rgb(224, 15, 160); /*cor escolhida*/
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 30px; /* tamanho da fonte*/
    text-align: center; /* centralizado */
    text-transform: uppercase; /* letras maiusculas */
}

p {
font-size: 16px;
color: blueviolet;
}