body {
    background-color: rgb(239, 101, 175); /* cor de fundo da página */
    color: cyan; /*cor da escrita */
}

h1{
    font-size: 30px; /* tamanho da fonte*/
    text-align: center; /* centralizado */
    text-transform: uppercase; /* letras minusculas */
}

p {
font-size: 16px;
color: blueviolet;
}